html, body, #app {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
  font-weight: bold;
}

.el-breadcrumb {
  margin-bottom: 10px;
}

.el-card {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15) !important;
}

@import "//at.alicdn.com/t/font_2625853_55s34tzitkg.css";
